$highlight-color: red;

.victims-graphic-container {  
  margin-bottom: 10px;
  padding: 15px 0;
}

.victims-graphic-container p {
  margin: 0;
}

.victims-graphic-container > p {
  font-family: Roboto;
  font-size: 18px;
  text-align: center;
  color: #121212;

  i {
    font-weight: 700;
    font-style: normal;
    color: $highlight-color;
  }

  &.spacing-bottom {
    margin-bottom: 20px;
  }
}

.victims-container {
  margin: 5px 0;
}

.victims {
  word-wrap: break-word;
  text-align: center;
  font-family: WeePeople;
  font-size: 30px;
  line-height: 31px;
  color: #121212;
  margin-bottom: 12px;

  .highlight-person {
    color: $highlight-color;
  }
}

$gray: #999;

#source-box {
  margin-top: 17px;

  &> p {
    font-family: Roboto;
    font-size: 15px;
    line-height: 20px;
    color: $gray;
    &> a {
      color: $gray;
      text-decoration: none;
      &:hover { text-decoration: underline; }      
    }
  }
}
