$highlight-color: red;

.victims-graphic-container {  
  margin-bottom: 10px;
  padding: 15px 0;
}

.victims-graphic-container p {
  margin: 0;
}

.victims-graphic-container > p {
  font-family: Roboto;
  font-size: 17px;
  text-align: center;
  color: #121212;

  i {
    font-weight: 700;
    font-style: normal;
    color: $highlight-color;
  }

  &.spacing-bottom {
    margin-bottom: 26px;
  }
}

.victims-container {
  margin: 8px 0;
}

.victims {
  word-wrap: break-word;
  text-align: center;
  font-family: WeePeople;
  font-size: 32px;
  color: #121212;
  margin-bottom: 12px;

  .highlight-person {
    color: $highlight-color;
  }
}

$gray: #999;

#source-box {
  margin-top: 20px;

  &> p {
    font-family: Roboto;
    font-size: 15px;
    line-height: 20px;
    color: $gray;
    &> a {
      color: $gray;
    }
  }
}

/* Graphik */

@font-face {
  font-family: Graphik;
  src: url('https://spectator-fonts.s3.amazonaws.com/Graphik-400-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: Graphik;
  src: url('https://spectator-fonts.s3.amazonaws.com/Graphik-600-Semibold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: Graphik;
  src: url('https://spectator-fonts.s3.amazonaws.com/Graphik-700-Bemibold.otf') format('opentype');
  font-weight: 700;
}
